* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: Inter;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.header__logo {
  margin-left: 74px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  font-size: 14px;
  margin-right: 60px;
}
.header__item:hover {
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: black;
}
.header__link:hover, .header__link:focus {
  font-weight: bold;
  color: #8d8d8d;
}

.header__icons {
  margin-right: 100px;
}
.header__icons img {
  margin: 0 24px;
}
.header__icons img:hover {
  cursor: pointer;
}

.content-wrapper {
  padding: 0 74px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel {
  display: flex;
  align-items: center;
  height: 550px;
  padding: 0 20px;
  margin-top: 28px;
  background-color: #dce5e2;
  border-radius: 32px;
}

.carousel__track-container {
  display: flex;
  height: 550px;
  width: 1290px;
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  margin: 110px 72px 0 72px;
  height: 550px;
  width: 1290px;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  opacity: 0;
}

.carousel__slide[data-active] {
  position: absolute;
  margin: 110px 72px 0 72px;
  height: 550px;
  width: 1290px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;
  transition: 200ms;
  transition-delay: 0ms;
}

.carousel__button-left, .carousel__button-right {
  z-index: 3;
}
.carousel__button-left:hover, .carousel__button-right:hover {
  cursor: pointer;
}

.carousel__nav {
  z-index: 3;
}

.carousel__image {
  height: 100%;
  width: 607px;
}

.carousel__text {
  margin-left: 36px;
}

.carousel__headline {
  font-family: Readex Pro;
  font-size: 58px;
  margin-bottom: 20px;
}

.exploreBtn {
  margin-top: 30px;
  padding: 14px 52px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 200px;
}
.exploreBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.carousel__nav {
  display: flex;
  position: absolute;
  margin: 500px 0 0 270px;
}

.carousel__indicator {
  height: 2px;
  width: 194px;
  margin-right: 34px;
  background-color: black;
}
.carousel__indicator:hover {
  cursor: pointer;
  background-color: #c5c5c5;
}

.categories {
  margin-top: 75px;
}

.categories__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.promocards {
  display: flex;
  justify-content: space-between;
  margin: 56px 0 78px 0;
}

.promocards__card1 {
  height: 480px;
  margin-bottom: 42px;
  width: 640px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  padding: 0 42px;
  text-align: end;
}
.promocards__card1:hover {
  cursor: pointer;
  box-shadow: 0px 4px 35px rgba(4, 133, 193, 0.25);
}

.promocards__card2 {
  display: flex;
  align-items: center;
  height: 270px;
  width: 640px;
  padding: 0 42px;
  text-align: end;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.promocards__card2:hover {
  cursor: pointer;
  box-shadow: 0px 4px 35px rgba(4, 133, 193, 0.25);
}

.promocards__card3 {
  padding-left: 16px;
}

.promocards__card3,
.promocards__card4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 792px;
  width: 312px;
  text-align: center;
  margin-left: 16px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.promocards__card3:hover,
.promocards__card4:hover {
  cursor: pointer;
  box-shadow: 0px 4px 35px rgba(4, 133, 193, 0.25);
}
.promocards__card3 img,
.promocards__card4 img {
  margin: 42px 0 42px 0;
}

.promocards__card4 > h3 {
  margin: 0 30px;
}

.promocards__title {
  font-family: "Readex Pro";
  font-size: 32px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.bestseller__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card {
  flex-direction: column;
  justify-content: center;
  height: 400px;
  display: flex;
}
.card img {
  padding: 28px;
  width: 246px;
}

.card__description {
  font-size: 14px;
  color: #4b4b4b;
  max-width: 260px;
}

.card__subtitle {
  font-family: "Readex Pro";
  font-size: 14px;
}

.card__title {
  font-family: "Readex Pro";
  font-size: 22px;
}

.card__price {
  margin-top: 24px;
  font-size: 18px;
}

.categories {
  margin-top: 74px;
}

.categories__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 453px;
  width: 413px;
  padding-top: 40px;
  margin: 56px 13px 30px 13px;
  background-color: #f8f9fa;
  border-radius: 16px;
}
.categories__card img {
  height: 250px;
  margin-top: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about__description {
  display: flex;
  margin-top: 56px;
}
.about__description img {
  border-radius: 16px;
  height: 420px;
}

.about__text {
  margin-left: 34px;
}

.about__line {
  font-size: 24px;
  margin: 8px 0 20px 0;
}

.footer {
  padding: 0 46px;
  height: 378px;
  background-color: #f8f9fa;
}

.footer__wrapper {
  padding: 46px 0 78px 28px;
  display: flex;
  flex-wrap: wrap;
}

.logo__wrapper {
  margin-right: 120px;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__text {
  font-size: 16px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer__subtitle {
  font-family: Readex Pro;
  font-size: 22px;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__link {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.footer__link:hover, .footer__link:focus {
  opacity: 0.65;
}

.footer__item {
  margin-bottom: 14px;
}

.footer__line {
  height: 1px;
  width: 100%;
  background-color: #dce5e2;
}

.credits {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.credits__madeBy,
.credits__poweredBy {
  display: flex;
}
.credits__madeBy:hover,
.credits__poweredBy:hover {
  cursor: pointer;
}

.arrowUpRight {
  width: 20px;
  margin-left: 8px;
}

.headline {
  font-family: "Readex Pro";
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Readex Pro";
  font-size: 14px;
}

.search__input {
  height: 60px;
  width: 650px;
  padding-left: 50px;
  margin: 30px 0;
  background-color: #f8f9fa;
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  background-image: url("./img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 76px;
}

.search__prompt {
  display: inline;
  padding: 12px 22px;
  border: 1px solid #c5c5c5;
  border-radius: 200px;
  font-size: 14px;
}
.search__prompt:hover {
  cursor: pointer;
  background: #ededed;
}

.search__prompts1 {
  margin-bottom: 34px;
}

.subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  padding: 45px 0;
  margin: 68px 180px 20px 180px;
  background-color: #dce5e2;
  border-radius: 16px;
}
.subscribe img {
  margin-top: 14px;
  height: 200px;
}

.subscribe__form {
  display: flex;
  margin-top: 14px;
}

.subscribe__input {
  width: 284px;
  padding: 16px 32px;
  background-color: #dce5e2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
}

.signUpBtn {
  padding: 17px 32px;
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  border: none;
  color: white;
}
.signUpBtn:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */