* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: Inter;
}

.header {
  height: 80px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__logo {
  margin-left: 74px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  font-size: 14px;
  margin-right: 60px;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link:hover,
.header__link:focus {
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.header__icons {
  margin-right: 100px;
}

.header__icons > img {
  margin: 0 24px;
}

.content-wrapper {
  padding: 0 74px;
}

.footer {
  padding: 0 46px;
  height: 378px;
  background: #f8f9fa;
}

.footer__wrapper {
  padding: 46px 0 78px 28px;
  display: flex;
  flex-wrap: wrap;
}

.logo__wrapper {
  margin-right: 120px;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer__subtitle {
  font-family: Readex Pro;
  font-size: 22px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

.footer__item {
  margin-bottom: 14px;
}

.footer__link:hover,
.footer__link:focus {
  opacity: 0.65;
}

.footer__line {
  height: 1px;
  background-color: #dce5e2;
  width: 100%;
}

.credits {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.credits__madeBy,
.credits__poweredBy {
  display: flex;
}

.arrowUpRight {
  width: 20px;
  margin-left: 8px;
}

.promo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-top: 28px;
  height: 550px;
  background-color: #dce5e2;
  border-radius: 32px;
}

.promo__image {
  height: 530px;
  width: 607px;
}

.promo__text {
  margin-left: 36px;
}

.promo__headline {
  font-family: Readex Pro;
  font-size: 58px;
  margin-bottom: 20px;
}

.exploreBtn {
  margin-top: 30px;
  padding: 14px 52px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 200px;
}

.exploreBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.carousel {
  display: flex;
  position: absolute;
  margin-top: 500px;
  margin-left: 270px;
}
.carousel__line {
  height: 2px;
  width: 194px;
  background-color: black;
  margin-right: 34px;
}

.categories {
  margin-top: 75px;
}

.categories__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  margin-bottom: 10px;
  font-family: "Readex Pro";
  font-size: 42px;
  line-height: 52px;
}

.subtitle {
  font-family: "Readex Pro";
  font-size: 14px;
  line-height: 17px;
}

.cards-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bestseller__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > img {
  padding: 28px;
  width: 246px;
}

.description {
  color: #4b4b4b;
  font-size: 14px;
  line-height: 17px;
  max-width: 261px;
}

.card__title {
  font-family: "Readex Pro";
  font-size: 22px;
  line-height: 28px;
}

.card__price {
  margin-top: 24px;
  font-size: 18px;
  line-height: 22px;
}

.categories {
  margin-top: 74px;
}

.categories__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 56px 13px 30px 13px;
  height: 453px;
  width: 413px;
  background-color: #f8f9fa;
  border-radius: 16px;
  padding-top: 40px;
}

.categories__card > img {
  height: 250px;
  margin-top: 30px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__description {
  display: flex;
  margin-top: 56px;
}

.about__description > img {
  border-radius: 16px;
  height: 420px;
}

.about__text {
  margin-left: 34px;
}

.about__line {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.search__input {
  background: #f8f9fa;
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  height: 60px;
  width: 650px;
  padding-left: 20px;
  margin-bottom: 28px;
  margin-top: 30px;
}

.search {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__prompt {
  padding: 12px 22px;
  display: inline;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 200px;
  font-size: 14px;
}

.search__prompts1 {
  margin-bottom: 34px;
}

.search__prompt:hover {
  cursor: pointer;
  background: #ededed;
}

.subscribe {
  margin: 68px 180px 20px 180px;
  height: 450px;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dce5e2;
  border-radius: 16px;
}

.subscribe > img {
  margin-top: 14px;
  height: 200px;
}

.subscribe__input {
  padding: 16px 32px;
  width: 284px;
  background: #dce5e2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
}

.subscribeBtn {
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  padding: 17px 32px;
  border: none;
  color: white;
}

.subscribe__form {
  margin-top: 14px;
  display: flex;
}

.promocards {
  margin-top: 56px;
  margin-bottom: 78px;
  display: flex;
  justify-content: space-between;
}

.promocards__card1 {
  height: 470px;
  margin-bottom: 52px;
  width: 640px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  padding: 0 42px;
  text-align: end;
}

.promocards__card2 {
  display: flex;
  align-items: center;
  height: 270px;
  width: 640px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  padding: 0 42px;
}

.promocards__card3,
.promocards__card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 16px;
  height: 792px;
  width: 312px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

.promocards__card3 > img {
  margin: 42px 0 42px 0;
}

.promocards__title {
  font-family: "Readex Pro";
  font-size: 32px;
  margin: 0 30px 0 30px;
}
